{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My Shop</a>
        {% if not request.user.is_authenticated %}
            <a href="{% url "account:register" %}" class="logo account">Register</a>
            <a href="{% url 'account:login' %}" class="logo account">Login</a>
        {% else %}
            <a href="{% url 'account:logout' %}" class="logo account">Logout</a>
        {% endif %}
    </div>
    <div id="subheader">
        <div class="cart">
            {% if request.user.is_authenticated %}
                Welcome, <a href="{% url "account:edit_profile" %}">{{user.username}}</a>
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        Your cart:
                        <a href="{% url "cart:cart_detail" %}">
                            {{ total_items }} item{{total_items|pluralize}},
                            {{ cart.get_total_price }}
                        </a>
                    {% elif not order %}
                        Your car is empty
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>